.background-title {
  &__image {
    background-image: url(/src/images/background-image.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;

    @include on-tablet {
      height: 400px;
    }

    @include on-desktop {
      height: 460px;
    }
  }
}
