.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 64px;
    }
  }
}

.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  // animation

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.06);
      border-radius: 6px;
    }
  }

  &__link {
    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }
    &--square {
      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__button {
    width: 100%;
    height: 56px;
    border: none;
    background-color: $main-text-color;
    color: #fff;
    font-size: 16px;
    border-radius: 8px;

    &:hover {
      background-color: $hover-button;
      border: 2px solid #f0f1f4;
      color: $main-text-color;
      cursor: pointer;
    }

    @include on-desktop {
      width: 324px;
    }
  }
}
