.product {
  &__photo {
    width: 100%;

    // animation

    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.06);
      border-radius: 6px;
    }
  }

  &__description {
    font-family: $contetn-font;
  }
  &__price {
    font-weight: 700;
  }
}
