$table-min-width: 576px;
$desktop-min-width: 1024px;
$effect-duration: 0.3s;
$main-text-color: #292929;
$hover-button: #f8f8fa;
$content-title-color: #9393a3;
$contact-text-color: #191919;
$contetn-font: 'Space Mono', sans-serif;
$main-font: 'Space Grotesk', sans-serif;
$hover-phone-number-font: Inter, sans-serif;
